* { 
    margin:0; padding:0; box-sizing:border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: #452E5A;
    padding: 10px;
    text-align: center;
    color: #FFC85C;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
#ul-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
a {
    text-decoration: none;
    color: #FFC85C;
    transition: color 0.2s;
}
a:hover {
    color: #FF653F; 
}
.li-nav {
    background-color: #cb4b2b;
    font-size: 150%;
    padding: 8px 16px;
    border-radius: 6px; /* bo góc cho mềm mại hơn */
}
#sc-about {
    text-align: center; 
    margin: 0 auto;
    padding: 6px 12px;
    max-width: 1200px;
}
#ul-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    list-style: none;
}
.li-skills {
    background: #cb4b2b;
    padding: 6px 12px;
    text-align: center;
}
.li-skills:hover {
    background-color: #FF653F;
    transition: all 0.2s;
}
h3 {
    font-size: 120%;
    color: #FFC85C;
    border-radius: 0%;
}