* { 
    margin:0; padding:0; box-sizing:border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: #452E5A;
    padding: 10px;
    text-align: center;
    color: #FFC85C;
    display: flex;
    justify-content:space-between;
    align-items:center;

    width: 100%;
    margin: 0;
}
section {
    width: 60%;
    margin: 0 auto;
}
#ul-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
a {
    text-decoration: none;
    color: #FFC85C;
    transition: color 0.2s;
}
a:hover {
    color: #FF653F; 
}
.li-nav {
    background-color: #cb4b2b;
    font-size: 150%;
    padding: 8px 16px;
    border-radius: 6px; /* bo góc cho mềm mại hơn */
}
#sc-about {
    text-align: center; 
    
    padding: 6px 12px;
    
}
#ul-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    list-style: none;
}
.li-skills {
    background: #cb4b2b;
    padding: 6px 12px;
    text-align: center;
    border-radius: 6px;
    transition: all 0.2s;
}
.li-skills:hover {
    background-color: #FF653F;
}
h3 {
    font-size: 120%;
    color: #FFC85C;
    padding-bottom: 6px;
    border-bottom: 1px solid #452E5A;
    display: inline-block;
}
#hamburger-btn {
    display: none;
    font-size: 120%;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 10px;
    }
    #ul-nav {
        display: none;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 10px;
    }
    section {
        width: 90%;
    }
    #ul-skills {
        grid-template-columns: 1fr;
    }
    #sc-about {
        padding: 3px 6px;
    }
    #hamburger-btn {
        display: block;
    }
    #ul-nav.nav-open { 
        display: grid; 
    }
}